:root {
    --branding-color: #e4abab;
    --primary-color: rgb(73, 67, 67);
    --secondary-color: #fafafa;;
    --branding-font-family: 'Raleway Dots', cursive;
    --default-font-family: 'Poppins', sans-serif;
}

body {
    background-color: rgb(12, 175, 121);
    color: var(--primary-color);
    font-family: var(--default-font-family);
    max-width: 100%;
    padding: 40px;
}

h2,
h3,
h4,
h5,
h6 {
    color: var(--primary-color);
    font-family: var(--default-font-family);
}

h1 {
    color: var(--branding-color);
    font-size: 86px;
    font-family: var(--branding-font-family);
    font-weight: 550;
}

h3 {
    font-size: 36px;
}

p {
   font-family: var(-default-font-family)
}

ul {
    list-style: none;
    text-align: left;
  }

.hero {
    align: center;
    background-color: var(--secondary-color);
    max-width: 800px auto;
    padding: 60px 40px 40px 40px;
    text-align: center;
}

.hero p { 
   font-size: 16px; 
   margin: 0;
   padding: 5px 10px 5px 20px;
   text-align: justify;
}

.hero h2 {
   font-family: var(--default-font-family);
   font-size: 24px;
   font-weight: normal;
   line-height: 1;
}
.hero a {
    border: none;
    color: var(--branding-color);     
}

.hero a:hover {
    background-color: var(--branding-color);
    color: var(--secondary-color);
    flex: 1;
    transition: all 200ms ease-in-out;
}

.about-me {
    font-size: 25px;
    font-weight: bold;
    text-align: left;
}

.icon {
    color: var(--primary-color);
    text-align: center;  
}

#email {
    text-decoration: none;
}

#email:hover {
    background-color: var(--secondary-color);
    color:  rgb(63, 63, 252);
}

#nav-buttons {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-evenly;   
}

#linked-in {
    color: rgb(40,103,178);
}

#linked-in:hover {
    background-color: var(--secondary-color);
    }

#github {
   color: #6f42c1; 
}

#github:hover {
    background-color: var(--secondary-color);
    }

#nav-portfolio {
    justify-content: space-evenly;
}

#portfolio a {
    background-color: var(--secondary-color);
    color: var(--branding-color);
    text-decoration: none;
}

#portfolio a:hover {
    color: var(--primary-color);
}

#homepage-image {
    max-width: 250px; 
}

#about-vera {
    justify-content: space-evenly;
}

#about-vera a {
    color: var(--primary-color);
    text-decoration: none;
}

#about-vera a:hover {
    background-color: var(--secondary-color);
    color: var(--branding-color);
}

#image-vera-claassens {
    border-radius: 100px;
    max-width: 180px;
}

#open-source-code {
    color: rgb(63, 63, 252);
    text-decoration: none;
}

#phone {
    text-decoration: none;
}

#phone:hover {
    color: rgb(63, 63, 252);  
}

@media (max-width:768px) {
    body {padding: 100px;}
    h1 {font-size: 66px;}
    .hero .about-me {font-size:16px;}
    .hero .about-content {font-size:14px;}
    .fa-7x {font-size: 4em}
    #image-vera-claassens {
        max-width: 150px;
        margin-top: 20px;}
}

@media (max-width:576px) {
    body {padding: 50px;}
    .hero h1 {
        font-size: 40px;
        font-weight:bolder;}
    .hero h3 {font-size: 30px;}
    .hero p {font-size: 16px;}
    .hero .about-me {font-size:15px;}
    .hero .about-content {font-size:13px;}
    .fa-7x {font-size: 4em}
    #homepage-image {max-width: 150px;}
    #image-vera-claassens {margin-top: 20px;}
}

@media (min-width:768px) {
    body {padding: 100px;}
    h1 { font-size: 66px;}
    .fa-7x {font-size: 5em}
    .hero .about-me {padding: 10px 60px}
    .hero .about-content {padding: 10px 60px}
}

@media (min-width:992px) {
    body {padding: 150px;}
    .hero .about-me {padding: 10px 80px}
    .hero .about-content {padding: 10px 80px}
}

@media (min-width:1200px) {
    body {padding: 160px;}
    .hero .about-me {padding: 10px 130px}
    .hero .about-content {padding: 10px 130px}
}

@media (min-width:1400px) {
    body {padding: 200px;}
    .hero .about-me {padding: 10px 160px}
    .hero .about-content {padding: 10px 160px}
}



